
#titleContainer {
    background:  linear-gradient(to right, rgba(46, 21, 27, 0.9), rgba(0,0,0, 0.0));
    top: 50px;
    width: 80%;
    position: absolute;
}

#titleContainer h1 {
    margin: 16px 0px;
    font-size: 3rem;
    font-weight: bolder;
    padding-left: 5%;
    color: white;
}

.artikel {
    border-radius: 10px;
    width: 32%;
    max-height: 700px;
    margin: 5px;
    flex-grow: 1;
    overflow-y: hidden;
    background-color: rgba(230,230,230, 0.4);
}

.articleHeader {
    align-content:stretch;
    height: 60px;
    background-color: rgba(27, 103, 107, 0.644);
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 20px;
}

.artikelTitle {
    display: inline-block;
    position: relative;
    padding: 5px;
    bottom: 10px;
    color: white;
    font-weight:bold;
    font-size:20px;
}

.articleContent {
    padding: 0px 5px;
    font-size:18px;
}

.articleImage {
    height: 40%;
    width: 40%;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.7);
    margin-right: 15px;
    float: left;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    
    html {
        min-height: 600px;
    }

    .artikel {
        width: 50%;
        max-height: 400px;
    }

}